Source: subnetcalc
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: http://www.iem.uni-due.de/~dreibh
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.8.0

Package: subnetcalc
Section: net
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: IPv4 Subnet Calculator
 SubNetCalcis a simple IPv4 subnet address calculator. For given IP address
 and netmask, it calculates network address, broadcast address, maximum
 number of hosts and host address range. Also, it prints the addresses in
 binary format for better understandability.
