Source: subnetcalc
Section: net
Priority: optional
Maintainer: Thomas Dreibholz <dreibh@iem.uni-due.de>
Homepage: http://www.iem.uni-due.de/~dreibh
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.8.0

Package: subnetcalc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: traceroute, iputils-tracepath, inetutils-ping, rsplib-tools, whois
Description: IPv4/IPv6 Subnet Calculator
 SubNetCalc is an IPv4/IPv6 subnet address calculator. For given IPv4 or
 IPv6 address and netmask or prefix length, it calculates network address,
 broadcast address, maximum number of hosts and host address range. Also,
 it prints the addresses in binary format for better understandability.
 Furthermore, it prints useful information on specific address types
 (e.g. type, scope, interface ID, etc.).
